# Dependencies
/node_modules

# Production
/dist

# Local env files
.env.local
.env.*.local

# Keep production env for demo
!.env.production

# Logs
npm-debug.log*
pnpm-debug.log*

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
